/**** RESET ****/

* {
	margin: 0;
	border: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", sans-serif;
	background-color: #FAFBFC;
}

ul,
ol,
li {
	list-style: none;
}


/**** OUTROS ****/

h1 {
	position: absolute;
	top: 5%;
	left: 1%;
}

p {
	position: relative;
	font-size: 1.5rem;
	top: 1rem;
}

table {
	border-collapse: collapse;
	font-size: 0.7rem;
	width: 100%;
}

th {
	display: table-cell;
	vertical-align: center;
	font-weight: bold;
	text-align: center;
}


/**** TABELA E TEXTO ****/

.coltex {
	text-align: center;
}

.text-add-cliente,
.text-del-cliente {
	position: relative;
	margin-bottom: 2%;
	margin-top: 2%;
}

.table {
	position: relative;
	border-collapse: collapse;
	border-spacing: 0;
	padding-top: 4rem;
}

.form-control {
	width: 30rem;
	right: 0%
}


/**** BOTÕES ****/

.btn {
	display: block;
	margin-right: 1rem;
	width: 6.5rem;
}

.edit-button,
.delete-button {
	display: block;
	padding: 0.2rem;
	margin: 0.5rem;
}

.add-cliente-button {
	position: absolute;
	margin: 1.1rem;
	right: 0;
	top: 0.6rem;
}

.confirm-button {
	position: relative;
	display: inline;
	height: 2.5rem;
	top: 2.5rem;
	font-weight: bold;
}

.cancel-button-1 {
	position: relative;
	height: 2.5rem;
	left: 7.5rem;
	font-weight: bold;
}

.save-button {
	position: relative;
	display: inline;
	margin-top: 1rem;
	width: 8rem;
	left: 7.5rem;
	height: 2.5rem;
	text-align: center;
	font-weight: bold;
}

.cancel-button-2 {
	position: absolute;
	display: inline;
	display: inline-block;
	text-align: center;
	margin-top: 1rem;
	height: 2.5rem;
	left: 5.6rem;
	font-weight: bold;
}

.api-button {
	position: absolute;
	padding-left: 1rem;
	right: 0.1rem;
	top: 0.5rem;
}


/**** CAMPOS ****/

#id_nome {
	width: 30rem;
	content: attr('ddd');
}

#id_email {
	width: 20rem;
}

#id_telefone {
	width: 10rem;
}

#id_data_nascimento,
#id_cep {
	width: 7rem;
}

#id_logradouro {
	width: 25rem;
}

#id_numero {
	width: 5rem;
}

#id_bairro,
#id_cidade {
	width: 16rem;
}

#id_estado {
	width: 3rem;
}

#id_ponto_referencia {
	width: 15rem;
}