{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<h1 class="text-add-cliente">Cliente &#x2705</h1>
<form method="POST">
   <div class="form-group">
      {% csrf_token %}
      {% bootstrap_form form %}
      <!-- Botões da página de adicionar e de editar cliente -->
      {% buttons %}
      <button type="submit" class="btn btn-outline-primary save-button">Salvar</button>
      <a class="btn btn-outline-dark cancel-button-2" href="{% url 'index' %}">Cancelar</a>
      {% endbuttons %}
   </div>
</form>
{% endblock %}