{% extends 'base.html' %}
{% block content %}
    <div class="table table-bordered table-striped table-responsive-sm">
        <h1>Clientes &#x1F4D1</h1>
        <table class="table table-sm">
            <thead class="thead-dark">
                <th scope="col" class="coltex">#</th>
                <th scope="col" class="coltex">Nome</th>
                <th scope="col" class="coltex">E-mail</th>
                <th scope="col" class="coltex">Telefone</th>
                <th scope="col" class="coltex">CEP</th>
                <th scope="col" class="coltex">Logradouro</th>
                <th scope="col" class="coltex">Número</th>
                <th scope="col" class="coltex">Cidade</th>
                <th scope="col" class="coltex">UF</th>
                <th scope="col" class="coltex">Ponto de Referência</th>
                <th scope="col" class="coltex">Editar | Deletar</th>
            </thead>
            <body>
                <div class="btn">
                    <a class="btn btn-primary add-cliente-button" href="{% url 'adicionar_cliente' %}">Adicionar</a>
                </div>
                {% for cliente in clientes %}
                    <tr>
                        <th>{{ cliente.id }}</th>
                        <th>{{ cliente.nome }}</th>
                        <th>{{ cliente.email }}</th>
                        <th>{{ cliente.telefone }}</th>
                        <th>{{ cliente.cep }}</th>
                        <th>{{ cliente.logradouro }}</th>
                        <th>{{ cliente.numero }}</th>
                        <th>{{ cliente.cidade }}</th>
                        <th>{{ cliente.estado }}</th>
                        <th>{{ cliente.ponto_referencia }}</th>
                        <th>
                            <a class="btn btn-outline-primary" href="{% url 'atualizar_cliente' cliente.pk %}">Editar</a>
                            <a class="btn btn-outline-danger" href="{% url 'deletar_cliente' cliente.pk %}">Deletar</a>
                        </th>                        
                    </tr>
                {% endfor %}
            </body>
        </table>
    </div>
{% endblock %}