{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    <div class="table-responsive-sm">
        <h1>Clientes &#x1F467</h1>
        <table class="table">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefone</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">CEP</th>
                <th scope="col">Logradouro</th>
                <th scope="col">Número</th>
                <th scope="col">Beirro</th>
                <th scope="col">Cidade</th>
                <th scope="col">UF</th>
                <th scope="col">Ponto de Referência</th>
            </thead>
            <body>
                <div>
                    <a class="btn btn-warning" href="{% url 'adicionar_cliente' %}">Adicionar</a>
                </div>
                {% for cliente in clientes %}
                    <tr>
                        <th>{{ cliente.id }}</th>
                        <th>{{ cliente.nome }}</th>
                        <th>{{ cliente.email }}</th>
                        <th>{{ cliente.telefone }}</th>
                        <th>{{ cliente.data_nascimento }}</th>
                        <th>{{ cliente.cep }}</th>
                        <th>{{ cliente.logradouro }}</th>
                        <th>{{ cliente.numero }}</th>
                        <th>{{ cliente.bairro }}</th>
                        <th>{{ cliente.cidade }}</th>
                        <th>{{ cliente.estado }}</th>
                        <th>{{ cliente.ponto_referencia }}</th>
                        <th>
                            <a class="btn btn-warning" href="{% url 'atualizar_cliente' cliente.pk %}">Editar</a>
                            <a class="btn btn-danger" href="{% url 'deletar_cliente' cliente.pk %}">Deletar</a>
                        </th>                        
                    </tr>
                {% endfor %}
            </body>
        </table>
    </div>
{% endblock %}